# root = true

[*.cs]
# csharp_new_line_before_open_brace = methods
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.json]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
